In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql postgresql://postgres:Databases!@127.0.0.1/sparkifydb

In [10]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [11]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [12]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)]

In [13]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [14]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).